Source: wazo-uuid
Section: comm
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9

Package: wazo-uuid
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         python3,
         systemd
Description: Wazo UUID management
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package handles the UUID of the Wazo installation that will be shared
 across services.
 .
